.customer_top {
  font-weight: 400;
  line-height: 1.5;
  background-color: #fbf2eb;
  padding: 80px;
}
.customer_top1 {
  text-align: left;
  font-size: 50px;
}
.customer_top2 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 50px;
}
.customer_top3 {
  display: flex;
  border-top: 1px solid rgba(250, 93, 0, 100%);
  border-bottom: 1px solid rgba(250, 93, 0, 100%);
}
.customer_facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 500px;
  height: 150px;
  /* border-left: 1px solid rgba(250, 93, 0, 100%); */
}
.customer_facts2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 500px;
  height: 150px;
  border-left: 1px solid rgba(250, 93, 0, 100%);
  border-right: 1px solid rgba(250, 93, 0, 100%);
}
.customer_facts,
.customer_facts2 {
  text-align: left;
}
.fact_font1 {
  font-size: 45px;
}
.fact_font2 {
  font-size: 30px;
}
.story {
  padding-top: 50px;
  display: flex;
}

.story_image > img {
  margin: auto;
  display: block;
  width: 650px;
  height: 430px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.story_image > img:hover {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.story_content {
  padding: 150px 20px;
  text-align: left;
}
.story_content > h3 {
  color: #fa5e06;
  font-weight: 600;
  font-size: 25px;
}
.story_content > h2 {
  text-align: left;
  font-size: 30px;
}
.story_button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0e0d;
  color: white;
  font-size: 25px;
  width: 250px;
  height: 55px;
  border-radius: 20px;
}
.story_button:hover {
  background-color: #1d1e1c;
}
.customer_logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.4;
}
.horizontal_line {
  border-top: 1px solid rgba(250, 93, 0, 100%);
}

.story_team {
  font-weight: 400;
  line-height: 1.5;
  background-color: #fbf2eb;
  padding: 80px;
  display: flex;
  gap: 200px;
}
.story_team_nav > nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.story_team_grid {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(7, 260px);
  gap: 20px;
}
.story_team_grid > div {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}
.story_team_grid > div > img {
  height: 35px;
  border: 1px solid;
  margin-bottom: 25px;
}
.story_team_grid > div > p {
  text-align: left;
  font-weight: 500;
  color: #5a5d60;
}
