.main {
  width: 100%;
}
.customer_top {
  font-weight: 400;
  line-height: 1.2;
  background-color: #fbf2eb;
  padding: 80px;
}
.customer_top1 {
  text-align: left;
  font-size: 50px;
  width: 100%;
}
.customer_top2 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 50px;
}
.customer_top3 {
  display: flex;
  border-top: 1px solid rgba(250, 93, 0, 100%);
  border-bottom: 1px solid rgba(250, 93, 0, 100%);
}
.customer_facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 33%;
  /* border-left: 1px solid rgba(250, 93, 0, 100%); */
}
.customer_facts2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 33%;
  border-left: 1px solid rgba(250, 93, 0, 100%);
  border-right: 1px solid rgba(250, 93, 0, 100%);
}
.customer_facts,
.customer_facts2 {
  text-align: left;
}
.fact_font1 {
  font-size: 40px;
}
.fact_font2 {
  font-size: 30px;
}
.story {
  padding-top: 50px;
  display: flex;
}
.story_image {
  width: 100%;
  height: 410px;
}
.story_image > img {
  margin: auto;
  display: block;
  width: 100%;
  height: 400px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.story_image > img:hover {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.story_content {
  padding: 150px 20px;
  text-align: left;
}
.story_content > h3 {
  color: #fa5e06;
  font-weight: 600;
  font-size: 25px;
}
.story_content > h2 {
  text-align: left;
  font-size: 30px;
}
.story_button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0e0d;
  color: white;
  font-size: 25px;
  width: 250px;
  height: 55px;
  border-radius: 20px;
}
.story_button:hover {
  background-color: #1d1e1c;
}
.customer_logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.4;
}
.horizontal_line {
  border-top: 1px solid rgba(250, 93, 0, 100%);
}

.story_team {
  font-weight: 400;
  line-height: 1.5;
  background-color: #fbf2eb;
  padding: 80px;
  display: flex;
  gap: 20%px;
}
.story_team_nav > nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.nav_span > span {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 300px;
  height: 50px;
  padding-left: 15px;
}
.nav_span > span:hover {
  background-color: #fee8d8;
  color: #fa5e06;
  border-radius: 15px;
}
.story_team_grid {
  display: grid;

  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(7, max-content);
  gap: 20px;
}
.story_team_grid > div {
  background-color: white;
  padding: 10%;
  border-radius: 15px;
}
.story_team_grid > div:hover {
  background-color: rgb(188, 186, 186);
  padding: 25px;
  border-radius: 15px;
}

.story_team_grid > div > img {
  height: 35px;
  margin-bottom: 25px;
}
.story_team_grid > div > p {
  text-align: left;
  font-weight: 500;
  color: #5a5d60;
}
.bottom_section {
  margin: 100px 0px;
  padding: 0px 80px;
  display: flex;
  gap: 10%;
}
.bottom_section > div:first-child {
  text-align: left;
  width: 50%;
}
.bottom_section > div:first-child > h1 {
  font-size: 40px;
  padding-bottom: 20px;
}
.bottom_section > div:first-child > h2 {
  font-size: 30px;
  font-weight: 350;
}
.bottom_button {
  margin-top: 25px;
  display: flex;
  justify-content: left;
  gap: 50px;
  align-items: center;
}
.try_harvest_button {
  background-color: #fa5e06;
  color: white;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}
/* --------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width: 850px) and (max-width: 950px) {
  .customer_top {
    padding: 15% 5%;
  }
  .customer_top1 {
    text-align: left;
    font-size: 50px;
  }
  .customer_top2 {
    text-align: left;
    font-size: 30px;
    padding-bottom: 50px;
  }
  .horizontal_line {
    border-top: 1px solid rgba(250, 93, 0, 100%);
  }
  .customer_top3 {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .customer_facts,
  .customer_facts2 {
    border: none;
    width: 100%;
  }
  .story {
    padding-top: 0px;
    display: flex;
    align-items: center;
    height: 450px;
  }
  .story_content {
    padding: 100px 15px;
    text-align: left;
    width: 370px;
  }
  .story_content > h3 {
    color: #fa5e06;
    font-weight: 500;
    font-size: 20px;
  }
  .story_content > h2 {
    text-align: left;
    font-size: 25px;
  }
  .story_image > img {
    width: 400px;
    height: 300px;
  }
  .customer_logos {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .customer_logos > img {
    height: 40px;
  }

  .story_team {
    padding: 5%;
    padding-top: 80px;
    gap: 15px;
    padding-bottom: 80px;
  }
  .nav_span > span {
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    padding-left: 10px;
  }
  .story_team_grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(7, 270px);
    gap: 10px;
  }
  .story_team_grid > div > p {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #5a5d60;
  }
  .bottom_section {
    padding: 80px 5%;
    gap: 10%;
  }
  .bottom_section > div:first-child {
    text-align: left;
    width: 65%;
  }
  .bottom_button {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0px;
    /* border: 1px solid; */
  }
  .try_harvest_button {
    border: 1px solid;
    background-color: #fa5e06;
    color: white;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
  }
}
/* --------------------------------------------------------------------------------- */
@media screen and (min-width: 649px) and (max-width: 849px) {
  .customer_top {
    padding: 15% 5%;
  }
  .customer_top1 {
    text-align: left;
    font-size: 50px;
  }
  .customer_top2 {
    text-align: left;
    font-size: 30px;
    padding-bottom: 50px;
  }
  .horizontal_line {
    border-top: 1px solid rgba(250, 93, 0, 100%);
  }
  .customer_top3 {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .customer_facts,
  .customer_facts2 {
    border: none;
    width: 100%;
  }
  .story {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .story_image {
    order: 1;
    width: 95%;
    height: 350px;
  }
  .story_image > img {
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
  }
  .story_content {
    order: 2;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 100px;
  }
  .story_button {
    width: 100%;
    height: 50px;
  }
  .customer_logos {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .customer_logos > img:nth-child(5),
  .customer_logos > img:nth-child(6),
  .customer_logos > img:nth-child(7),
  .customer_logos > img:nth-child(8) {
    display: none;
  }

  .story_team {
    padding: 5%;
    padding-top: 80px;
    gap: 15px;
    padding-bottom: 80px;
  }
  .story_team_grid {
    display: grid;
    justify-content: center;
  }
  .story_team_nav > nav {
    display: none;
  }
  .bottom_section {
    padding: 80px 5%;
    gap: 30px;
    width: 100%;
  }
  .bottom_section > div:nth-child(2) {
    display: none;
  }
  .bottom_section > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bottom_button {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .try_harvest_button {
    /* width: 100%; */
  }
}
/* -------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 648px) {
  .customer_top {
    padding: 25% 5%;
  }
  .customer_top1 {
    text-align: left;
    font-size: 50px;
  }
  .customer_top2 {
    text-align: left;
    font-size: 30px;
    padding-bottom: 50px;
  }
  .horizontal_line {
    border-top: 1px solid rgba(250, 93, 0, 100%);
  }
  .customer_top3 {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .customer_facts,
  .customer_facts2 {
    border: none;
    width: 100%;
  }
  .story {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .story_image {
    order: 1;
    width: 95%;
    height: 350px;
  }
  .story_image > img {
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
  }
  .story_content {
    order: 2;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 100px;
  }
  .story_button {
    width: 100%;
    height: 50px;
  }
  .customer_logos {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .customer_logos > img:nth-child(5),
  .customer_logos > img:nth-child(6),
  .customer_logos > img:nth-child(7),
  .customer_logos > img:nth-child(8) {
    display: none;
  }

  .story_team {
    padding: 5%;
    padding-top: 80px;
    gap: 15px;
    padding-bottom: 80px;
  }
  .story_team_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .story_team_nav > nav {
    display: none;
  }
  .bottom_section {
    padding: 80px 5%;
    gap: 30px;
  }
  .bottom_section > div:nth-child(2) {
    display: none;
  }
  .bottom_section > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bottom_button {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .try_harvest_button {
    width: 100%;
  }
}
