.home {
  padding-top: 120px;
  background: #fff4ec;
}


/* TimeTracking section css */


.TimeTracking {
  width: 90%;
  text-align: start;
  margin: auto;
  display: flex;
  background-color: #fff4ec
}

.TimeTracking_box1 {
  width: 40%;
}

.TimeTracking_Sbox1 {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.TimeTracking_Sbox2 {
  width: 80%;
}

.TimeTracking_Sbox2_txt1 {
  font-family: WT Monarch Nova;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

.TimeTracking_Sbox2_txt2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #6D6E6D;
  margin-bottom: 20px;
}

.TimeTracking_Sbox3 {
  width: 100%;
}

.TimeTracking_Sbox3_inp {
  background-color: white;
}

.TimeTracking_Sbox3_btn {
  background-color: #fa5d00;
  padding: 8px 20px;
  font-size: 20px;
  margin-left: 15px;
  background-color: #fa5d00;
  color: #ffff;
  border-radius: 10px;
}

.TimeTracking_Sbox3_btn:hover {
  cursor: pointer;
  background-color: #FA5D00;
  color: #9F9F9F;
  font-size: 22px;
}

.TimeTracking_box2 {
  width: 55%;
  padding-left: 40px;
}

.TimeTracking_Sbox3_txt1 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #9F9F9F;
  margin: 20px 0 0;
}




/* 
customer_Count page */

.customer_Count {
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: rgba(29, 30, 28, 60%);
  display: inline;
  top: -17px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 20px;
  background: rgba(255, 248, 241, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mytexttitle {
  flex-grow: 0;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #9f9f9f;
}


.customer_logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.4;
}


@media screen and (min-width:950px) and (max-width:1100px) {
  .home {
    padding-top: 60px;
  }

  .TimeTracking {
    display: block;
  }

  .TimeTracking_box1 {
    width: 90%;
  }

  .TimeTracking_Sbox2 {
    width: 90%;
  }

  .TimeTracking_box2 {
    width: 90%;
    margin-top: 40px;
  }
}


@media screen and (max-width:950px) {
  .home {
    padding-top: 60px;
  }

  .TimeTracking {
    display: block;
  }

  .TimeTracking_box1 {
    width: 90%;
  }

  .TimeTracking_Sbox2 {
    width: 110%;
  }

  .TimeTracking_Sbox3 {
    display: block;
    width: 100%;
  }

  .TimeTracking_Sbox3_inp {
    display: block;
    margin: auto;
  }

  .TimeTracking_Sbox3_btn {
    margin: auto;
    padding: 8px 45px;
    margin-top: 20px;
    display: block;
    text-align: center;

  }

  .TimeTracking_Sbox3_txt1 {
    text-align: center;
  }

  .TimeTracking_box2 {
    width: 90%;
    margin-top: 40px;
  }
}




/* 
Features page */


.Feature_Section {
  width: 90%;
  margin: auto;
  margin-top: -80px;
  padding-top: 80px;
  background: #fff4ec;
  text-align: start;
  margin-top: 40px;
}

.Feature_Section_box2{
  display:flex;
   gap:50px;
    margin-top:35px;
}

.Feature_Section_box2_sb{
  width:40%;
}

.Feature_Section_G{
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows:repeat(3, 1fr);
   gap:35px;
}

.Feature_Section_txt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #FA5D00;
}

.Feature_Section_box1_txt1 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}

.Feature_Section_box1_txt2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}


.Feature_Section_GI {
  border: 1px solid #FA5D00;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 25px;
}

.Feature_Section_GI_img {
  margin-bottom: 20px;
  width: 50px;
}

.Feature_Section_GI:hover {
  color: #FA5D00;
  background-color: #ffeee0;
}

.Feature_Section_GI_box1{
  margin-top:25px;
}

.Feature_Section_GI_box2{
  width:80%; 
  text-align: start;
}

.top_section {
  width: 90%;
  margin: auto;

  /* border: 1px solid; */
}


@media screen and (min-width:950px) and (max-width:1100px) {
  .Feature_Section{
    width: 95%;
    margin: auto;
  }
.Feature_Section_box2{
display: block;
}
.Feature_Section_GI{
  width: 100%;
}
.Feature_Section_box2_sb{
  /* display: block; */
  width:95%;
}
}



@media screen and (max-width:950px) {
  .Feature_Section{
    width: 95%;
    margin: auto;
  }
.Feature_Section_box2{
display: block;
}
.Feature_Section_GI{
  width: 100%;
}
.Feature_Section_box2_sb{
  display: block;
  width:100%;
}

}




/* Customer Section */

.customer_Section {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding-top: 80px;
  background: #fff4ec;
  text-align: start;
  margin-top: 40px;
}

.customer_Section_box1{
  margin-top: 80px;
}

.customer_Section_box1_txt1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #FA5D00;
}


.customer_Section_box1_txt2{
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}


.customer_Section_box1_txt3{
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}


.customer_Section_box2{
  margin-bottom: 80px;
}


.customer_Section_box2_sl{
 border-radius: 2 px solid #FA5D00;
 border-radius: 10px;
}

@media screen and (min-width:950px) and (max-width:1100px){
  .customer_Section{
    width: 95%;
    margin: auto;
  }

  .customer_Section_box1{
    width: 55%;
  }
  
  .customer_Section_box2{
    width: 50%;
  }
  .customer_Section_box2_sl{
    width: 100%;
  }
}


@media screen and (max-width:950px) {
  .customer_Section{
    width: 95%;
    margin: auto;
  }
  .customer_Section_box1{
    width: auto;
  }
}







.text1 {
  color: #1D1E1C;
  font-size: 50px;
  text-align: start;
  margin-top: 40px;
}

.text2 {
  color: #1D1E1C;
  font-size: 29px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 50px;
}

.text3 {
  color: #1D1E1C;
  font-size: 25px;
  /* text-decoration: none; */
}

.text3:hover {
  color: #FA5D00;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 90px;
}

.box1 {
  border: 1px solid #FA5D00;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  text-decoration: none;
}

.image {
  margin-left: 10px;
}

/* Intregation_Section page */


.Intregation_Section {
  width: 90%;
  margin: auto;
  text-align: start;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  gap: 50px;
  margin-top: 60px;
  padding-top: 40px;
  background: #fff4ec;
}

.Intregation_Section_box1{
  width: 50%;
}

.Intregation_Section_box1_img{
  padding-left: 40px;
  padding-top: 30px;
}

.Intregation_Section_box2{
  width: 50%;
}

.Intregation_Section_box2_txt1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #FA5D00;

}

.Intregation_Section_box2_txt2{
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}


.Intregation_Section_box2_txt_3{
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}



@media screen and (min-width:950px) and (max-width:1100px){
  .Intregation_Section {
    width: 95%;
    gap: 40px;
  }
  
  .Intregation_Section_box1_img{
    width: 150%;
    margin-top: 80px;
  }

  .Intregation_Section_box2{
    width: 55%;
  }
}


@media screen and (max-width:950px) {
  .Intregation_Section {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 40px;
    padding-top: 0px;
  }

  .Intregation_Section_box1{
    width: 90%;
    margin: auto;
  }

  .Intregation_Section_box2{
    width: 90%;
  }
  
  .Intregation_Section_box2_txt1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #FA5D00;
  
  }
  
  .Intregation_Section_box2_txt2{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 19px;
    color: #1D1E1C;
  }
  
  
  .Intregation_Section_box2_txt_3{
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #1D1E1C;
  }
  
  .Intregation_Section_box2_btn{
    width: 100%;
  }
}




/* Intregation_Section page */


.CustomersStory_Section {
  width: 90%;
  margin: auto;
  /* margin-top: -80px; */
  padding-top: 80px;
  background: #fff4ec;
}


.Learning_Section {
  width: 90%;
  margin: auto;
  padding-top: 80px;
  background: #fff4ec;
}

.Learning_Section_txt:hover {
  color: #FA5D00;
  background-color: #ffeee0;
}



/* StartTracking page */

.main_div2 {
  background-image: url("https://www.getharvest.com/hubfs/raw_assets/public/harvest-theme/images/illoglyphs/footer-illo-comp.svg");
  background-size: 380px 250px;
  background-repeat: no-repeat;
  background-position: calc(50% + 340px) bottom;
  background-position-x: calc(50% + 340px);
  background-position-y: center;
  width: 100%;
  height: 425px;
  border-bottom: 1px solid rgba(250, 93, 0, 100%);
  background-color: white;
  display: flex;
}


.main_div>div {
  display: block;
  /* border: 1px solid; */
  width: 65%;
}

.h1 {

  margin-left: 8%;
  margin-top: 7%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #1d1e1c;
  font-size: 50px;
  font-weight: 100;
  text-align: left;


}

.h3 {
  margin-left: 8%;
  font-weight: 400;
  text-decoration: none;
  font-family: MuotoWeb, sans-serif;
  font-style: normal;
  color: #1d1e1c;
  font-size: 29px;
  text-align: left;

}

.btn {

  display: flex;
  margin-top: 5%;
  margin-left: 8%;
  background-color: rgb(247, 98, 12);
  padding: 12px 25px;
  color: #FFF8F1;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;


}

.btn:hover {
  background-color: #fc6107;

}

.p_div {
  width: 50%;
  height: auto;
  /* border: 1px solid; */
  margin-left: -15%;

}

.p {
  font-size: 18px;
  color: gray;
  margin-top: 8%;
  /* margin-left: -25%; */
  text-align: left;
  /* font-weight: 700; */
}

.btn_And_p_div {
  /* border: 1px solid; */
  display: flex;
  margin-left: 8%;
  margin-top: 5%;
  height: 50px;
  width: 90%;
  /* justify-content: space-between; */
}

.btn_div {
  /* border: 1px solid red; */
  width: 30%;
}

.btn_div {
  /* border: 1px solid red; */
  width: 50%;
}

.btn2 {

  display: flex;
  margin-top: 5%;
  /* margin-left: 8%; */
  background-color: black;
  padding: 12px 25px;
  color: #FFF8F1;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}

.btn2:hover {
  background-color: #1d1e1c;
}

.second_div {


  width: 90%;
  height: 625px;
  border-bottom: 1px solid rgba(250, 93, 0, 100%);
  background-color: rgb(255, 246, 240);
  display: flex;
  margin: auto;
}

.second_div__first_div {
  width: 47%;
  height: 100%;
  /* border: 1px solid; */
}

.second_div__second_div {
  width: 55%;
  height: 100%;
  /* border: 1px solid blue; */
}

.h4 {

  /* margin-left:8%; */
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #1d1e1c;
  font-weight: 500;
  font-size: 42px;
  text-align: left;


}

.p1 {
  font-size: 20px;
  /* margin-left: 7%; */
  margin-top: 3%;
  font-weight: 500;
  text-align: left;

}

.p2 {
  font-size: 20px;
  /* margin-left: 7%; */
  /* margin-top: 3%; */
  font-weight: 500;
  text-align: left;

}


@media screen and (min-width:950px) and (max-width:1210px) {

  .main_div{
      width: 100%;
      height: 500px;
      
      }
      .main_div>div{
          /* border: 1px solid; */
          width: 90%;

          
      }

      .btn_And_p_div{
          display: block;
          width: 100%;
          height: auto;
          margin-left:5%;
         /* border: 1px solid; */
      }
      .p_div{
          /* border: 1px solid; */
          width: 100%;
          margin-left: 5%;
          margin-top: -5%;
      }
      /* .h1{
          margin-left: 1%;
      } */
      .p{
          /* border: 1px solid; */
          width: 100%;
          
      }
      .second_div{
          /* border: 1px solid; */
          height: 715px;
      }
      .right_img_div{
          /* border: 1px solid; */
          margin-top: 30%;
      }
      .main_div2{

          background-image: url("https://www.getharvest.com/hubfs/raw_assets/public/harvest-theme/images/illoglyphs/footer-illo-comp.svg");
          background-size: 350px 200px;
          background-position-x: calc(30% + 340px);
          height: 430px;
  
      }
      .main_div2>div{
          /* border: 1px solid; */
          width: 50%;
         
      }
}

@media screen and (min-width:350px) and (max-width:950px) {

  .main_div{
      width: 100%;
      height: 500px;
      /* border: 1px solid; */
      
      }
      .main_div>div{
          width: 100%;
          
      }
      .h1{
          font-size: 41px;
      }

      .btn_And_p_div{
          display: block;
          width: 90%;
          height: auto;
          margin:auto;
        
      }
      .btn_div{
         
          width: 100%;
      }
      .btn{
          display: inline-block;
          margin: auto;
          /* padding: 10px 140px 10px 140px ; */
          margin-top: 5%;
          width: 100%;
          

      }
      .p_div{
          
          margin: auto;
          width: 100%;
          
      }
      .p{
          text-align: center;
          margin-top:5%;
      }
      .second_div{
          display: flex;
          flex-direction: column;
          /* border: 1px solid; */
          height:auto;
      }

      .second_div__first_div{
          /* border: 1px solid blue; */
          width: 100%;
      }
      .second_div__second_div{
          /* border: 1px solid red; */
          width: 100%;
      }
      .btn_div2{
          /* display: flex; */
          margin: auto;
          width: 100%;
          /* border: 1px solid; */
          
      }
      .btn2{
          display: inline-block;
          width: 100%;
          
          font-size: 20px;
          
          margin-top: 10%;
      }
      .main_div2{
          background-image:none;
          
          width: 100%;
          height: 425px;
          border-bottom: 1px solid rgba(250,93,0,100%);
          background-color:white;
          display:flex;
          }
          .company_name{
              margin-top: 40%;
              /* border: 1px solid; */
          }
          .company_name_img{
              margin-top: 10%;
          }
          .second_div__first_div{
              /* border: 1px solid; */
              height: 650px;
              order:0;
              
          }
          .second_div__second_div{
              /* border: 1px solid blue; */
              margin-top: -10%;
              order: -1;
          }
}