.text1 {
  font-size: 35px;
  left: 12px;
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
  .text1 {
    font-size: 20px;
  }
}

.Features_container{
  width: 100%;
  
}

.Features_container>div>h1{
  text-align: center;
  font-size:42px;
  font-weight:400;
   margin-top:60px;
    color:#1D1E1C;
}

.customer_Count {
 
  width: 90%;
  margin: auto;
  font-size: 18px;
  color: rgba(29, 30, 28, 60%);
  display: inline;
  top: -17px;
  position: relative;
  padding-right: 10px;
  margin-bottom: 20px;
  background: rgba(255, 248, 241, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mytexttitle {
  flex-grow: 0;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #9f9f9f;
}


.customer_logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.4;
}


/* 
Features section */
.Features_grid {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(7, 260px);
  gap: 20px;
  text-align: center;
}
.Features_grid > div {
  width: 80%;
  margin: auto;
  /* padding: 10%; */
  border-radius: 15px;
  text-align: center;
}


.Features_grid > div > img {
  margin: auto;
  height: 80px;
  margin-bottom: 25px;
}
.Features_grid > div > p {
  font-weight: 600;
  color: #5a5d60;
}
.Features_grid > div > h2 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}



.Feature_Section_box2_sb{
  margin: auto;
  width:90%;
  margin-top: -1070px;
  margin-bottom: 80px;
}

.Feature_Section_G{
  margin: auto;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(1, 1fr);
   gap:35px;
}

.Feature_Section_txt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #FA5D00;
}

.Feature_Section_box1_txt1 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}

.Feature_Section_box1_txt2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #1D1E1C;
}


.Feature_Section_GI {
  border: 1px solid #FA5D00;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Feature_Section_GI_img {
  margin-bottom: 20px;
  width: 80px;
}

.Feature_Section_GI:hover {
  color: #FA5D00;
  background-color: #ffeee0;
}

.Feature_Section_GI_box1{
  margin-top:25px;
}

.Feature_Section_GI_box2{
  width:80%; 
  text-align: start;
}

.AskedQsn_seection{
  margin: auto;
  width: 90%;
  display: flex;
  gap: 50px;
  margin: 80px 40px;
}

.AskedQsn_seection_box1{
width: 40%;

}

.AskedQsn_seection_box1 h1{
  text-align: center;
  font-size:42px;
   font-weight:400;
    margin-bottom:20px;
     color:#1D1E1C;
}


.AskedQsn_seection_box2{
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FA5D00;
}

.AskedQsn_seection_box2>div{
  border-top: 1px solid #FA5D00;
  padding: 10px;
  width: 100%;
}

.AskedQsn_seection_box2>div>span{
  width: 80%;
  font-size:20px;
  font-weight:400;
   margin-bottom:20px;
    color:#1D1E1C;
}

.AskedQsn_seection_box2>div:hover{
  color: #FA5D00;
  background-color: #ffeee0;
}

.AskedQsn_seection_box2 h2{
  font-size:25px;
  font-weight:400;
   margin-bottom:20px;
    color:#1D1E1C;
}

/* --------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width: 850px) and (max-width: 950px) {
  
  .Features_grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(7, 270px);
    gap: 10px;
  }
  .Features_grid > div > p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #5a5d60;
  }
  .Features_grid > div > h2 {
      font-size: 19px;
      color: black;
      font-weight: 600;
    }
  
    .AskedQsn_seection{
      margin: auto;
      width: 95%;
      display: flex;
      gap: 50px;
      margin: 80px 0px;
    }
    
    .AskedQsn_seection_box1{
    width: 40%;
    
    }
    
    .AskedQsn_seection_box1 h1{
      text-align: center;
      font-size:35px;
       font-weight:400;
        margin-bottom:20px;
         color:#1D1E1C;
    }
    
    
    .AskedQsn_seection_box2{
      width: 55%;
    }
    
    .AskedQsn_seection_box2>div{
      
      width: 100%;
    }
    
 
    .Feature_Section_box2_sb{
      margin: auto;
      width:70%;
      margin-top: -1120px;
      margin-bottom: 60px;
    }
    
    .Feature_Section_G{
      margin: auto;
      grid-template-columns:repeat(1, 1fr);
      grid-template-rows:repeat(3, 1fr);
       gap:50px;
    }
    
    .Feature_Section_txt {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 18px;
    }
    
    .Feature_Section_box1_txt1 {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    
    .Feature_Section_box1_txt2 {
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    
    
    .Feature_Section_GI {
      display: flex;
      gap: 30px;
      padding: 20px;
   
    }
    
    .Feature_Section_GI_img {
      margin-bottom: 20px;
      width: 80px;
    }
    

    .Feature_Section_GI_box1{
      margin-top:25px;
    }
    
    .Feature_Section_GI_box2{
      margin: auto;
      width:65%; 
      text-align: start;
      
    }

}





/* --------------------------------------------------------------------------------- */
@media screen and (min-width: 649px) and (max-width: 849px) {
 
  .Features_grid {
    display: grid;
    justify-content: center;
  }

  .AskedQsn_seection{
    margin: auto;
    width: 90%;
    display: block;
    gap: 40px;
    margin: 60px 20px;
  }
  
  .AskedQsn_seection_box1{
    margin: auto;
  width: 100%;
  
  }
  
  .AskedQsn_seection_box1 h1{
    text-align: center;
    font-size:42px;
     font-weight:400;
      margin-bottom:20px;
       color:#1D1E1C;
  }
  
  
  .AskedQsn_seection_box2{

    width: 90%;
    display: block;
    margin: auto;
    margin-top: 40px;
   
  }
  
  .AskedQsn_seection_box2>div{
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .Feature_Section_box2_sb{
    margin: auto;
    width:80%;
    margin-top: -1120px;
    margin-bottom: 60px;
  }
  
  .Feature_Section_G{
    margin: auto;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows:repeat(3, 1fr);
     gap:50px;
  }
  
  .Feature_Section_txt {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  
  .Feature_Section_box1_txt1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .Feature_Section_box1_txt2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  
  .Feature_Section_GI {
    display: flex;
    gap: 30px;
    padding: 20px;
 
  }
  
  .Feature_Section_GI_img {
    margin-bottom: 20px;
    width: 80px;
  }
  

  .Feature_Section_GI_box1{
    margin-top:25px;
  }
  
  .Feature_Section_GI_box2{
    margin: auto;
    width:65%; 
    text-align: start;
    
  }

  
  
}
/* -------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 648px) {
 
  .Features_grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  .AskedQsn_seection{
    margin: auto;
    width: 95%;
    display: block;
    gap: 40px;
    margin: 60px 20px;
  }
  
  .AskedQsn_seection_box1{
  width: 95%;
  margin: auto;
  
  }
  
  .AskedQsn_seection_box1 h1{
    text-align: center;
    font-size:42px;
     font-weight:400;
      margin-bottom:20px;
       color:#1D1E1C;
  }
  
  
  .AskedQsn_seection_box2{

    width: 95%;
    display: block;
    margin: auto;
    margin-top: 40px;
   
  }
  
  .AskedQsn_seection_box2>div{
    margin: auto;
    text-align: center;
    width: 95%;
  }
  
  .Feature_Section_box2_sb{
    margin: auto;
    width:90%;
    /* margin-top: -1120px; */
    margin-bottom: 60px;
  }
  
  .Feature_Section_G{
    margin: auto;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows:repeat(3, 1fr);
    gap:50px;
  }
  
  .Feature_Section_txt {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  
  .Feature_Section_box1_txt1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .Feature_Section_box1_txt2 {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  
  .Feature_Section_GI {
    display: flex;
    gap: 30px;
    padding: 20px;
 
  }
  
  .Feature_Section_GI_img {
    margin-bottom: 20px;
    width: 80px;
  }
  

  .Feature_Section_GI_box1{
    margin-top:25px;
  }
  
  .Feature_Section_GI_box2{
    margin: auto;
    width:65%; 
    text-align: start;
    
  }
  

}